body {
  background-color: #121212;
}
/*this scrolls down with the website, refereced from https://www.freecodecamp.org/news/how-to-keep-a-navbar-at-the-top-of-my-viewport/*/
header {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #004141;
  padding: 14px;
}
h1 {
  text-align: center;
  color: azure;
  font-size: 48px;
}
/*Makes the nav a little bit small then the header*/
nav {
  width: 96%;
  padding: 20px;
  font-size: 28px;
  overflow: hidden;
}

ul {
  border-radius: 25px 25px 25px 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #195454;
}
/*Makes the list item start on the left side of the screen*/
li {
  float: left;
}
/*If the list item is a hyperlink it makes the list item a block element, color azure, no text decoration, centered and have a box around it*/
li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* when you hover over the box it makes it a little bit brighter*/
li a:hover {
  background-color: #2f6565;
}
p {
  margin-right: 0px;
  width: max-content;
  color: azure;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 28px;
  padding: 20px;
  background-color: #004141;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 2px black;
}
section {
  padding: 20px;
  background-color: #002828;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 15px;
}
/*makes the margin at the bottom 185 pixels*/
main {
  margin-bottom: 185px;
}
/*pushes up the Margin at the top to make it so that as soon as the Main content finishes the footer is there*/
/*the text inside of the footer is also centered*/
footer {
  position: relative;
  margin-top: -180px;
  height: 180px;
  clear: both;
  padding: 20px;
  background-color: #004141;
  text-align: center;
}
/*This icon area makes it so that it shows an icon as a button that you can press to go to a different link. When you hover over it it has a different color as well. Referenced from https://www.digitalocean.com/community/tutorials/how-to-create-a-static-footer-with-html-and-css-section-7?msclkid=ef21f944bdbf11ec8da26746520ed9a7 */
.footer-content-right {
  padding-right: 40px;
  margin-top: 20px;
  float: right;
}
.icon-style {
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}
.icon-style:hover {
  background-color: aquamarine;
  font-size: 20px;
}
