body {
  background-color: #121212;
}
/*this scrolls down with the website, refereced from https://www.freecodecamp.org/news/how-to-keep-a-navbar-at-the-top-of-my-viewport/*/
header {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #004141;
  padding: 14px;
}
h1 {
  text-align: center;
  color: azure;
  font-size: 48px;
}
nav {
  width: 96%;
  padding: 10px;
  font-size: 20px;
}
ul {
  border-radius: 25px 25px 25px 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #195454;
}
nav {
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #195454;
}

li {
  float: left;
}

li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover {
  background-color: #2f6565;
}
p {
  color: azure;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 28px;
}
section {
  padding: 20px;
  background-color: #434343;
}
footer {
  border-radius: 25px 25px 50px 50px;
  background-color: #004141;
  padding: 30px;
  text-align: center;
}
