/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 10 version
*/

/*
  Name: Sebastien Watt
  Course: Software Devolopment 20S
  Teacher: Mr. Hardman
  School: Pembina Trails Early College
  Date Last Modified: 5/2/2022
*/
/*
  So I chose the color blue to represent trust and imaginativity. I think that having trust in a website is important to a client so that they know that i'm honest and 
  hard working. I think having imaginativity in a website is smart because I personnally think that I create lots of ideas that I want to complete in the future and the present.
 */
/*
  This makes the font family a sans-serif font for all elements because I want to show that my website is accessible. 
  It also changes the line height to 140% to make the text readable
 */
* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
}
/*
  This makes the background color white and the color of the text black
 */
body {
  color: #0c0c0c;
  margin: 0; /* This fixed my biggest problem */
}
.animation-box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #022534;
  opacity: 100%;
  z-index: 10;
  animation: top-down 4s ease-in forwards;
}
/*
  This scrolls down with the website, its z index will be 5 to be infront of every thing at the top. Its width will be 100% because we want it to be the full width of the page
  The top and left positions are 0 because I dont want there to be empty space on the top or on the side. The color is a light blue to show trust and show that i'm imaginative
  It has a Padding of 14 because there will be alot of elements inside of the header so I don't need the padding to be huge.
  Refereced from https://www.freecodecamp.org/news/how-to-keep-a-navbar-at-the-top-of-my-viewport
 */
header {
  z-index: 5;
  -moz-display: block;
  display: block;

  position: -webkit-sticky;

  position: sticky;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #41b3ff;
  padding: 14px;
}
/*
  This is made simply for the title in the footer its font size is 64px, it is centered and its color is black
 */
h1 {
  text-align: center;
  color: #0c0c0c;
  font-size: 64px;
  margin: 0;
  line-height: 150%;
}
/*
  Makes the nav a little bit small than the header. It makes it so that the width is 96% so that it isn't overlappping with the footer
  it makes the padding 20 and the font size 24px. The overflow is hidden to prevent scrollbars from showing up.
 */
nav {
  width: 96%;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
}
/* 
  This makes it so the navagation unordered list has no bullets or style of list. The Margin and Padding are there to make sure that the list item is able to use up all of the
  space it can. The overflow is hidden to prevent scrollbars from showing up. And the background color is a lighter blue to display trust and imagination and so the colors would 
  completly crash with each other. I also made the corners have more of a curve.
 */
nav ul {
  border-radius: 25px 25px 25px 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #022534;
  color: #eeffee;
}
/*
  Makes the list item start on the left side of the screen
 */
nav li {
  float: left;
}
/*
  If the list item is a hyperlink it makes the list item a block element, it makes the color of the text black, makes it so 
  there is no text decoration, makes the text centered and have a square box of 14 by 16 pixels around it
 */
nav li a {
  display: block;
  color: #eeffee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* 
  when you hover over the box it makes the color a darker blue then the blue that is, and it changes the text color to azure.
 */
nav li a:hover,
nav li a:focus {
  background-color: #ffffff;
  color: #022534;
}
/*
  This makes it so the color of the text is black, it also gives the text a font size of 24. It makes the padding around the text 20 
  pixels but the width is how much the the content of the text is. It makes the background color a light blue because i want it to 
  display trust and imagination. It gives the border a very small curve, gives a margin to the bottom of 50 pixels to space out p tags
  from each other. Gives the Paragraph box a shadow of a darker grey than the background light grey.
 */
p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0c0c0c;
  font-size: 24px;
  padding: 20px;
  background-color: #54baff;
  border-radius: 3px 3px 5px 5px;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 5px 2px #acacac;
  box-shadow: 5px 5px 2px #acacac;
}
/*
  This makes it so there is a padding of 20 pixels, it makes that padding a light grey.
  It gives the corners a very small curve and gives the bottom a small margin.
 */
section {
  padding: 20px;
  background-color: #eeffee;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
}
/*
  makes the margin at the bottom 185 pixels and makes the background a very light grey
 */
main {
  background-color: #e5e5e5;
  margin-bottom: 185px;
}
/*
  pushes up the Margin by making it -180 pixels and it makes the height of the actual footer 180 pixels. Makes a margin at the top to make it so that as soon as 
  the Main content finishes the footer is there. It makes a padding of 20 px and makes the background color of the box the same blue as the headings for consistent 
  colors and to display trust and imagination
 */
footer {
  position: relative;
  width: 100%;
  margin-top: -180px;
  height: 180px;
  clear: both;
  margin-left: 0px;
  padding: 20px;
  background-color: #41b3ff;
  text-align: center;
}
/*
  This icon area makes it so that it shows an icon as a button that you can press to go to a different link. 
  It makes its height 40 pixels and it has a top margin of 5 and a left margin of 20 in case you add multiple of the same elements
 */
.icon-style {
  border: 1px solid #022534;
  height: 35px;
  margin-top: 1px;
}
/*
  When you hover over it it has a different color as well. Referenced from
  https://www.digitalocean.com/community/tutorials/how-to-create-a-static-footer-with-html-and-css-section-7?msclkid=ef21f944bdbf11ec8da26746520ed9a7 
 */
.icon-style:hover {
  background-color: #eeffee;
  font-size: 20px;
}
